*{
margin:0;
padding:0;
}
body{
    background:lightblue;
}
header{
    height:150px;
    display:flex;
    border:1px solid white;
    justify-content:space-around;    
    align-items:center;
}
header nav ul{
    display:flex;
}
header nav ul li{
    list-style:none;
    margin:10px;
}
header nav ul li a{
    text-decoration:none;
    color:darkblue;
}
header nav ul li a: hover{
    color:darkblue;
}
header img{
    height:100%;
	border:1px solid white;
}
section#banner{
	height:350px;
	background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBSmUw9WH7YoK16PFmDC1rdcYU1n3o3o7rQA&s");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;
}
section#noticias{
    width:1100px;
    height:auto;
    margin:0 auto;
}
section#noticias ul{
    display:flex;
    flex-wrap:wrap;
}
section#noticias ul li{
    list-style:none;
    width:350px;
    height:350px;
    margin:5px;
}
section#noticias img{
text-align: center;
height:150px;
width:100%;
box-shadow:0px 1px 0px 0px gray;
}
section#noticias .categoria{
text-align:center;
background:darkblue;
color:#fff;
display:block;
padding:5px 0;
}
section#noticias h2{
font-size:35px;
color:darkblue;
text-align:center;
}
section#noticias h3{
text-align:center;
font-size:35px;
font-family:Arial;
margin:25px 0;
text-transform:uppercase;
}
section#noticias ul li a{
    text-align:center;
    font-size: 19px;
    color:white;
    background:blue;
    display:block;
    padding:5px 0;
}
section#noticias ul li a:hover{
    background:darkblue;
}
section#noticias ul li p{
text-align:center;
margin:15px 0:
color:pink;
}
section#projetos ul{
display:flex;
text-align:center;
width:1100px;
margin: 0 auto;
}
section#projetos ul li{
list-style:none;
margin:10px;
overflow:hidden;
}
section#projetos ul li img{
    width:300px;
    height:0 auto;
}
section